<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel = "stylesheet" href="static/detailsStyle.css">
    <title>Book Details</title>
</head>
<body>
  
<div id="nav" class = header>
    <span class="book"><a href="http://172.19.50.140/web/" style="padding:0px 0px 0px 0px; color:black; background:none;">BOOK</a></span>
    <span class="worm">Worm</span>
    <span class = "book"><img src ="https://images.emojiterra.com/mozilla/512px/1f41b.png" class = "wormImg" ></span>
    
    <div class="search">
      <form class="rad" action="" method="GET">
        <input type="radio" name="radiobutton" value="isbn" checked="checked">ISBN 
        <input type="radio" name="radiobutton" value="title"> Title 
        <input type="radio" name="radiobutton" value="author"> Author
        <input type="radio" name="radiobutton" value="subject"> Subject 
        <input type="text" required class="searchbar"  name="search" placeholder="Search...">
        
        <button type="submit" class="searchbtn" value="Submit">
        <i class="fa fa-search"></i>
        </button> 
      </form>
  </div>
      <div class="menu">
        <a href="">cart (2)</a>
        <a href="">checkout</a>
        <ul>
          <div class="top">
            <li><a href="">account </a></li> 
          <div class="drop">
              <li><a href="">settings</a></li>
              <li><a href="">sign out</a></li>
          </div>
          </div>
        </ul>
      </div>
</div>
    <div class="row">
            <div class="leftcolumn">
            <div class="card">
                <h2>${bookInfo[0].get("title")}</h2>
                <h2 style="float: right!important;margin-top: 0px;">$${bookInfo[0].get("price") }</h2>
                <h3><i>${bookInfo[0].get("author")}</i></h3>
                <div class="fakeimg" style="height:400px;">
                    <img src="${bookInfo[0].get("pic_url")}">
                    <div class="button-box"><a href="#" >ADD TO CART</a></div>
                    <div class="button-box"><a href="#" >RESERVE</a></div>
                </div>
                <div class="text-box">
                    <p>ISBN: ${bookInfo[0].get("isbn")}</p>
                    <p>${bookInfo[0].get("detail")}</p>
                </div>
            </div>
        </div>
    </div>
 </body>
</html> 