<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>   
<link rel="stylesheet" href="static/homeStyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
</head>

<body onload= "loading(); checkCookie();">

<div id = "loadWin" class = "modal">
    <div class = "modal-content">
    <div align = "center"> <img src = "https://images.emojiterra.com/mozilla/512px/1f41b.png" class = "wormImg"></div>
    <br><br>
    <div id = "bar">
        <div id = "load"></div>
    </div>
    </div>
</div>
    
<div id="nav">
  <span class="book"><a href="http://172.19.50.140/web/" style="padding:0px 0px 0px 0px; color:black; background:none;">BOOK</a></span>
  <span class="worm">Worm</span>
  <span class = "book"><img src = "https://images.emojiterra.com/mozilla/512px/1f41b.png" class = "wormImg"></span>
  <div class="search">
    <form class="rad" action="" method="GET">
      <input type="radio" name="radiobutton" value="isbn" checked="checked"> ISBN 
      <input type="radio" name="radiobutton" value="title"> Title 
      <input type="radio" name="radiobutton" value="author"> Author
      <input type="radio" name="radiobutton" value="subject"> Subject 
      <input type="text" required class="searchbar"  name="search" placeholder="Search...">
      <button type="submit" class="searchbtn" value="Submit">
      <i class="fa fa-search"></i>
      </button> 
    </form>
  </div>
  <div class="menu">
    <a href="./static/cartproto.htm">cart <i class="fa fa-shopping-cart"></i></a>
    <a href="checkoutproto.htm">checkout</a>
    <ul>
      <div class="top">
        <li><a href="static/index.html" id="acct">${username}<i class="fa fa-sort-down"></i></a></li> 
        <div class="drop">
          <li><a href="profile.htm">settings</a></li>
          <li><a href="static/Login.htm" id="Sign-in" onclick="logout('username')">Sign In</a></li>
        </div>
      </div>
    </ul>
  </div>
</div>
<div class="filler"></div>

  <div class="clearfix">
  % for president in presidents:
    <div class="img-container">
      <a href=http://172.19.50.140/web/?book=${president.get("isbn")}>
      <img src =${president['pic_url']} width ="200" height="300" style="width:100%;max-width:200px"></a><br>${president['title']}<br>${president['author']}<br>
      <p class = price style="float:left;">$${president['price']}</p>
    </div>
    % endfor
</div>
<a href="?update=1">Changing the price</a>
<script>
function logout(cname){
    setCookie(cname,'',0);
}
function setCookie(cname,cvalue,exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    var expires = "expires=" + d.toGMTString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}
function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}
function checkCookie() {
    account = document.getElementById("acct");
    account = account.innerHTML
    console.log(account)
    var compare = 'Account<i class="fa fa-sort-down"></i>';
    if(account != compare){
      console.log(2);
      setCookie("username",account,30)
      var signInEle = document.getElementById("Sign-in");
      signInEle.innerHTML = "Sign Out";
      signInEle.href="http://172.19.50.140/web/";
      console.log(signInEle);
      console.log(3);
      }
}
function loading() {
    var modal = document.getElementById("loadWin")
    modal.style.display = "block";
    var elem = document.getElementById("load");
    var width = 1;
    var id = setInterval(frame, 10);
    function frame() {
        if (width >= 100) {
            clearInterval(id);
            modal.style.display = "none";
        }
        else {
            width++;
            elem.style.width = width + '%';
        }
    }
}
</script>

</body>
</html>
