<!DOCTYPE html>
<html>
<head>
    <title>index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/web/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="nav">
        <span class="book"><a href="./static/home.html" style="padding:0px 0px 0px 0px; color:black; background:none;">BOOK</a></span>
        <span class="worm">Worm</span>
        <div class="search">
            <form class="rad">
                <input type="radio" name="ISBN" checked="checked"></input> ISBN 
                <input type="radio" name="Title"></input> Title 
                <input type="radio" name="Author"></input> Author
                <input type="radio" name="Subject"></input> Subject
            </form>
            <input type="text" class="searchbar"  placeholder="Search...">
            </input>
            <button type="submit" class="searchbtn">
                <i class="fa fa-search"></i>
            </button> 
        </div>
        <div class="menu">
            <a href="./static/cartproto.htm">cart (4) <i class="fa fa-shopping-cart"></i></a>
            <a href="./static/checkoutproto.htm">checkout</a>
            <ul>
                <div class="top">
                    <li><a href="./static/profile.html">account <i class="fa fa-sort-down"></i></a></li> 
                    <div class="drop">
                        <li><a href="./static/">settings</a></li>
                        <li><a href="./static/home.html">sign out</a></li>
                    </div>
                </div>
            </ul>
        </div>
    </div>
    <div class="filler"></div>
	<div id="container" align="center">
		<h1>index</h1>
    </div>
    <div class="links">
        <a href="./static/adminMainPage.htm">adminMainPage</a></br>
        <!--<a href="./static/cart.html">cart</a></br>-->
        <a href="./static/cartproto.htm">cartproto</a></br>
        <!--<a href="./static/checkout.html">checkout</a></br>-->
        <a href="./static/checkoutproto.htm">checkoutproto</a></br>
        <a href="./static/detailedbook.html">detailedbook</a></br>
        <a href="endOfDaySalesReport.htm">endOfDaySalesReport</a></br>
        <a href="./static/home.html">home</a></br>
        <a href="index.html">index</a></br>
        <a href="./static/Login.htm">Login</a></br>
        <a href="./static/manageBooks.htm">manageBooks</a></br>
        <!--<a href="./static/navBar.htm">navBar</a></br>-->
        <a href="./static/orderConfirmation.htm">orderConfirmation</a></br>
        <!--<a href="./static/orderDetails.html">orderDetails</a></br>-->
        <a href="./static/orderDetailsproto.htm">orderDetailsproto</a></br>
        <a href="./static/ownerMainPage.htm">ownerMainPage</a></br>
        <a href="./static/profile.html">profile</a></br>
        <a href="./static/Registration.htm">Registration</a></br>
        <a href="./static/registrationConfirmation.htm">registrationConfirmation</a></br>
    </div>
</body>
</html>
